@model FootballMathces.Models.Player

@{
    ViewData["Title"] = "Delete";
    Layout = null;
}

<div class="modal fade" id="delete-player" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remove player</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <h3>Are you sure? </h3>
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="Id" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" data-save="modal">Yes</button>
            </div>
        </div>
    </div>
</div>